<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Véhicules</title>
    <link th:href="@{/css/bootstrap.min.css}" rel = "stylesheet"/>
    <link th:href="@{/fontawesome/css/font-awesome.min.css}" rel = "stylesheet"/>
    <link th:href="@{/css/mystyles.css}" rel = "stylesheet"/>
</head>
<body>

    <section th:insert="~{header :: header}"></section>
    <div class="container my-5">
        <div class="col-12">
            <div class="col-12 mb-5 position-relative d-flex justify-content-between">
                <div>
                    <span class="s-draw"></span>
                    <h4 class="mb-1 ms-3 ff-medium">Liste des véhicules()</h4>
                </div>
                <div>
                    <a th:href="@{/vehicules/nouveau}" class="btn btn-success s-color-white"><i class="fa fa-plus"></i> Nouveau Véhicule</a>
                </div>
            </div>
            <table class="table">
                <thead class="table-secondary text-size-14">
                <tr>
                    <th>N°</th>
                    <th>Marque</th>
                    <th>Modèle</th>
                    <th>Immatriculation</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vehicule, iter : ${vehicules}">
                    <td th:text="${iter.count}"></td>
                    <td th:text="${vehicule.marque}"></td>
                    <td th:text="${vehicule.modele}"></td>
                    <td th:text="${vehicule.immatriculation}"></td>
                    <td>
                        <a th:href="@{/vehicules/{id}/modifier(id=${vehicule.id})}"><i class="fa fa-pencilcil"></i></a>
                        <a th:href="@{/vehicules/{id}/supprimer(id=${vehicule.id})}"><i class="fa fa-trash s-color-red"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script th:src="@{/js/bootstrap.min.js}"></script>    
</body>
</html>