<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Créer un Participant</title>
    <link th:href="@{/css/bootstrap.min.css}" rel = "stylesheet"/>
    <link th:href="@{/fontawesome/css/font-awesome.min.css}" rel = "stylesheet"/>
    <link th:href="@{/css/mystyles.css}" rel = "stylesheet"/>
</head>
<body>

    <section th:insert="~{header :: header}"></section>
    <div class="container my-5">
        <div class="col-12 mb-5 position-relative">
            <div>
                <span class="s-draw"></span>
                <h4 class="mb-1 ms-3 ff-medium">Créer un participant</h4>
            </div>
        </div>
        <form th:action="@{/participants}" th:object="${participant}" method="post">
            <div class="row mb-5">
                <div class="form-group d-flex">
                    <div class="col-3">
                        <label for="nom">Nom</label>
                    </div>
                    <div class="col">
                        <input type="text" id="nom" th:field="*{nom}" class="form-control form-control-lg" />
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="form-group d-flex">
                    <div class="col-3">
                        <label for="prenom">Prénom</label>
                    </div>
                    <div class="col">
                        <input type="text" id="prenom" th:field="*{prenom}" class="form-control form-control-lg" />
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="form-group d-flex">
                    <div class="col-3">
                        <label for="poste">Poste</label>
                    </div>
                    <div class="col">
                        <input type="text" id="poste" th:field="*{poste}" class="form-control form-control-lg" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <button type="reset" class="btn btn-danger me-2"><i class="fa fa-trash"></i> Annuler</button>
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
    <script th:src="@{/js/custom.js}"></script>
</body>
</html>
