@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf")  format("truetype");
    font-display: swap;
}


@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf")  format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-Medium.ttf")  format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Inter-Bold";
    src: url("static/fonts/Inter-Bold.ttf")  format("truetype");
    font-display: swap;
}