<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Créer une Mission</title>
    <link th:href="@{/css/bootstrap.min.css}" rel = "stylesheet"/>
    <link th:href="@{/fontawesome/css/font-awesome.min.css}" rel = "stylesheet"/>
    <link th:href="@{/css/mystyles.css}" rel = "stylesheet"/>
</head>
<body>

    <section th:insert="~{header :: header}"></section>
    <div class="container my-5">
        <div class="col-12 mb-5 position-relative">
            <div>
                <span class="s-draw"></span>
                <h4 class="mb-1 ms-3 ff-medium">Créer une mission</h4>
            </div>
        </div>
        
         <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <p th:text="${errorMessage}"></p>
        </div>
        <form th:action="@{/missions}" th:object="${mission}" method="post">
           <div class="row mb-5">
               <div class="col-6 mb-5">
                   <div class="col-3">
                       <label for="conducteur">Conducteur</label>
                   </div>
                   <div class="col">
                       <select id="conducteur" th:field="*{conducteur}" class="form-control form-control-lg" required>
                           <option th:each="conducteur : ${conducteurs}"
                                   th:value="${conducteur.id}"
                                   th:text="${conducteur.nom + ' ' + conducteur.prenom}">
                           </option>
                       </select>
                   </div>
               </div>
               <div class="col-6 mb-5">
                   <div class="col-3">
                       <label for="vehicule">Véhicule</label>
                   </div>
                   <div class="col">
                       <select id="vehicule" th:field="*{vehicule}" class="form-control form-control-lg" required>
                           <option th:each="vehicule : ${vehicules}"
                                   th:value="${vehicule.id}"
                                   th:text="${vehicule.marque + ' ' + vehicule.modele}">
                           </option>
                       </select>
                   </div>
               </div>
               <div class="col-6 mb-5">
                   <div class="col-3">
                       <label for="destination">Destination</label>
                   </div>
                   <div class="col">
                       <input type="text" id="destination" th:field="*{destination}" class="form-control form-control-lg" />
                   </div>
               </div>
               <div class="col-6 mb-5">
                   <div class="col-3">
                       <label for="dateDebut">Date de Début</label>
                   </div>
                   <div class="col">
                       <input type="date" id="dateDebut" th:field="*{dateDebut}" class="form-control form-control-lg" />
                   </div>
               </div>
               <div class="col-6 mb-5">
                   <div class="col-3">
                       <label for="dateFin">Date de Fin</label>
                   </div>
                   <div class="col">
                       <input type="date" id="dateFin" th:field="*{dateFin}" class="form-control form-control-lg" />
                   </div>
               </div>
               <div class="col-6 mb-5">
                   <div class="col-3">
                       <label for="participants">Participants</label>
                   </div>
                   <div class="col">
                       <select id="participants" th:field="*{participants}" multiple="true" class="form-control form-control-lg">
                           <option th:each="participant : ${participants}"
                                   th:value="${participant.id}"
                                   th:text="${participant.nom + ' ' + participant.prenom}">
                           </option>
                       </select>
                   </div>
               </div>
           </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <button type="reset" class="btn btn-danger me-2"><i class="fa fa-trash"></i> Annuler</button>
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
    <script th:src="@{/js/custom.js}"></script>
</body>
</html>
