<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Missions</title>
    <link th:href="@{/css/bootstrap.min.css}" rel = "stylesheet"/>
    <link th:href="@{/fontawesome/css/font-awesome.min.css}" rel = "stylesheet"/>
    <link th:href="@{/css/mystyles.css}" rel = "stylesheet"/>
</head>
<body>

    <section th:insert="~{header :: header}"></section>
    <div class="container my-5">
        <div class="col-12">
            <div class="col-12 mb-5 position-relative d-flex justify-content-between">
                <div>
                    <span class="s-draw"></span>
                    <h4 class="mb-1 ms-3 ff-medium">Liste des missions()</h4>
                </div>
                <div>
                    <a class="btn btn-primary s-color-white me-2" th:href="@{/missions/recherche}"><i class="fa fa-search"></i> Nouvelle Recherche</a>
                    <!--<a class="btn btn-success s-color-white" th:href="@{/missions/nouveau}"><i class="fa fa-plus"></i> Nouveau Conducteur</a>-->
                </div>

            </div>
            <table class="table">
                <thead  class="table-secondary text-size-14">
                <tr>
                    <th>Conducteur</th>
                    <th>Véhicule</th>
                    <th>Destination</th>
                    <th>Date de Début</th>
                    <th>Date de Fin</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mission : ${missions}">
                    <td th:text="${mission.conducteur.nom + ' ' + mission.conducteur.prenom}"></td>
                    <td th:text="${mission.vehicule.marque + ' ' + mission.vehicule.modele}"></td>
                    <td th:text="${mission.destination}"></td>
                    <td th:text="${#temporals.format(mission.dateDebut, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(mission.dateFin, 'dd/MM/yyyy HH:mm')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script th:src="@{/js/custom.js}"></script>
</body>
</html>
