<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Conducteurs</title>
    <link th:href="@{/css/bootstrap.min.css}" rel = "stylesheet"/>
    <link th:href="@{/fontawesome/css/font-awesome.min.css}" rel = "stylesheet"/>
    <link th:href="@{/css/mystyles.css}" rel = "stylesheet"/>
</head>
<body>

    <section th:insert="~{header :: header}"></section>
    <div class="container my-5">
        <div class="col-12">
            <div class="col-12 mb-5 position-relative d-flex justify-content-between">
                <div>
                    <span class="s-draw"></span>
                    <h4 class="mb-1 ms-3 ff-medium">Liste des chauffeurs()</h4>
                </div>
                <a class="btn btn-success s-color-white" th:href="@{/conducteurs/nouveau}"><i class="fa fa-plus"></i> Nouveau Conducteur</a>
            </div>
            <table class="table">
                <thead class="table-secondary text-size-14">
                    <tr>
                        <th>N° </th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de Naissance</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="conducteur, iter : ${conducteurs}">
                        <td th:text="${iter.count}"></td>
                        <td th:text="${conducteur.nom}"></td>
                        <td th:text="${conducteur.prenom}"></td>
                        <td th:text="${#temporals.format(conducteur.datedenaissance, 'dd/MM/yyyy')}"></td>
                        <td>
                            <a th:href="@{/conducteurs/{id}/modifier(id=${conducteur.id})}" class="me-3"><i class="fa fa-pencilcil"></i></a>
                            <a th:href="@{/conducteurs/{id}/supprimer(id=${conducteur.id})}"><i class="fa fa-trash s-color-red"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>
